/* After changes have been made, please go to http://cssminifier.com/, minify the css code and add it to steamgifts-plus-v2.js */

.short .markdown {
    overflow:hidden;
    max-height:100px;
    position:relative;
}

.less__beautify {
    position:absolute;
    width:100%;
    bottom:0;
    display:none;
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(240, 242, 245, 0)), to(rgba(240, 242, 245, 1)));
    background:-moz-linear-gradient(top, rgba(240, 242, 245, 0), rgba(240, 242, 245, 1));
    background:linear-gradient(top, rgba(240, 242, 245, 0), rgba(240, 242, 245, 1));
    height:20px;
}

.less__beautify.sub {
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(243, 244, 247, 0)), to(rgba(243, 244, 247, 1)));
    background:-moz-linear-gradient(top, rgba(243, 244, 247, 0), rgba(243, 244, 247, 1));
    background:linear-gradient(top, rgba(243, 244, 247, 0), rgba(243, 244, 247, 1));
}

.short .less__beautify {display:block;}

.comment_more {display:none;}
.short .comment_more {display:block;}
.short .comment_less {display:none;}
body { margin-top: 39px;}

header {
    margin-left: -25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.navbar_fixed { padding: 0 25px;} 

.gridview_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}