/* After changes have been made, please go to http://cssminifier.com/, minify the css code and add it to steamgifts-plus-v2.js */

.short .markdown {
    overflow:hidden;
    max-height:100px;
    position:relative;
}

.less__beautify {
    position:absolute;
    width:100%;
    bottom:0;
    display:none;
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(240, 242, 245, 0)), to(rgba(240, 242, 245, 1)));
    background:-moz-linear-gradient(top, rgba(240, 242, 245, 0), rgba(240, 242, 245, 1));
    background:linear-gradient(top, rgba(240, 242, 245, 0), rgba(240, 242, 245, 1));
    height:20px;
}

.less__beautify.sub {
    background:-webkit-gradient(linear, left top, left bottom, from(rgba(243, 244, 247, 0)), to(rgba(243, 244, 247, 1)));
    background:-moz-linear-gradient(top, rgba(243, 244, 247, 0), rgba(243, 244, 247, 1));
    background:linear-gradient(top, rgba(243, 244, 247, 0), rgba(243, 244, 247, 1));
}

.short .less__beautify {display:block;}

.comment_more {display:none;}
.short .comment_more {display:block;}
.short .comment_less {display:none;}
.body { margin-top: 39px;}

.header {
    margin-left: -25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100
}

.navbar_fixed { padding: 0 25px;} 

.gridview_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.center_endless_loading {
    margin: 0 auto;
    width: 10%;
}

.center_endless_end {
    margin: 0 auto;
    width: 20%;
}

.settings_logo {
    color: #494c64;
}

.preview { 
    box-shadow: 1px 1px 0 #fff inset,0 7px 7px rgba(255,255,255,0.37) inset;
    background-color: rgba(255,255,255,0.2);
    border: 1px solid #cbcfdb;
    border-radius: 4px;
    padding: 15px;
    margin-top: 10px;
}

.preview_text{
    font-weight: bold;
    margin-bottom: 10px;
    color: #4b72d4;
}

.highlight{
    border-radius: 4px;
    box-shadow: 1px 1px 0 #fff inset,0 7px 7px rgba(255,255,255,0.37) inset;
    border: 1px solid #da5d88;
    padding: 15px;
}

.gridview_flex .giveaway-summary__thumbnail-outer-wrap:hover{
    position:absolute;
    z-index: 5;
    padding-bottom: 116px;
}

.tile_view_header{
    min-height: 35px;
    margin-top: 5px;
    font-size:12px;
}

.hide_pagination{
    visibility: hidden;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

.tile_view_avatar_outer{
    float: right;
    display: inline-block;
    margin-left: 5px;
}

.tile_view_avatar{
    height: 24px;
    width: 24px;
    padding: 2px;
}

.tile_view_faded{
    width: 184px;
    height: 69px;
    margin-top: -69px;
    background-color: white;
    opacity: 0.75;
}